{{!-- navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Tock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lobby">Lobby</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="m-1 avatar avatar_{{user.avatar}}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item-text">{{user.username}}</li>
                        <li class="dropdown-item-text">{{user.email}}</li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" aria-labelledby="dropdownMenuButton" href="/users/profile">Profile</a></li>
                        <li><a class="dropdown-item" aria-labelledby="dropdownMenuButton" href="/users/logout">Log Out</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>