{{> navbar}}
<br>

<div class="container-fluid mt-1">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h2>Welcome {{username}}</h2>
            <hr>
            <form class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded" action="/game/create">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gamename">Gamename: </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="gamename" name="gamename" placeholder="enter a game name" required>
                    </div>
                </div>
                <br>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <button type="submit" class="btn btn-primary w-100 mb-4">Create New Game</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>