{{> navbar}}

<div id="game-info-page">
    <div class="container-fluid my-3" id="create-game-page">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Welcome {{user.username}}</h2>
                <hr>
                <div class="form-group" id="create-game-container">

                    <form id="create-game-form">
                        <label class="control-label col-sm-4" for="gamename">Game Name: </label>
                        <input class="col-sm-12" id="gamename" type="text" placeholder="Enter Game Name..." required
                            autocomplete="off">
                        <button type="submit" class="btn btn-primary my-3 w-100">Create New
                            Game</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/create.js"></script>