<!-- 
    Title: Test Directory
    URI: /tests/
    View: directory.handlebars
-->

<style>
    .pageLink {
        color:aliceblue;
        background-color: grey;
        border: 1px black solid;
        box-shadow: 5px 5px 5px black;
    }

    .pageLink:hover {
        background-color: lightblue;
        color: black;
    }

</style>
<div class="w-50 mx-auto px-3 py-2">
<div class="card mt-2 mx-auto p-1">

<h1>App Directory</h1>

<h2>Router: Index</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Landing Page</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /</p>
        <p>index.handlebars</p>
    </div>
</div>
</a>

<a class="btn mx-auto pageLink" href="/error">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Error Page</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /error</p>
        <p>error.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Register</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/register">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Registration Page</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /register</p>
        <p>register.handlebars</p>
    </div>
</div>
</a>

<a class="btn mx-auto pageLink" href="/register/ok">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Registration Landing</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /register/ok</p>
        <p>registered.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Login</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/login">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Login Portal</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /login</p>
        <p>login.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Lobby</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/lobby">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">The Lobby</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /lobby</p>
        <p>lobby.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Profile</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/profile">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Edit Profile</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /profile</p>
        <p>profile.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Game</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/game/0">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Game Page</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /game/[id: 0]</p>
        <p>game.handlebars</p>
    </div>
</div>
</a>

<a class="btn mx-auto pageLink" href="/game/create/0">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Game Creation</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /game/create/[id: 0]</p>
        <p>create.handlebars</p>
    </div>
</div>
</a>

</div>

<h2>Router: Logout</h2>

<div class="d-flex flex-row mb-2">

<a class="btn mx-auto pageLink" href="/logout">
<div class="d-flex flex-row justify-content-between">
    <p class="font-weight-bold mx-2">Logout Page</p>
    <div class="d-flex flex-column-reverse justify-content-start align-items-end">
        <p>URl: /logout</p>
        <p>logout.handlebars</p>
    </div>
</div>
</a>

</div>

</div></div>