<!-- 
    Title: Landing Page
    URI: /
    View: index.handlebars
-->

{{> navbar}}
<style>
    #tock_board {
        background-image: url("/images/Tock_board.jpg"), url("/images/Tock_board.jpg"), url("/images/Tock_board.jpg");
        background-size: 30%, 30%;
        height: 200px;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: right bottom, left top, left top;
        padding: 15px;
    }
</style>

<main>
    {{!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="tock_board">
        <div class="col-md-5 p-lg-5 mx-auto my-4">
            <h1 class="display-4">Tock</h1>
            <p class="lead fw-normal">Display Tock Images Here.</p>
        </div>
    </div> --}}

    <div class="row mt-5">
        <div class="col-6 ms-auto">
            <div class="card">
                <div class="card-body bg-light">
                    <h4 class="card-title">Introduction</h4>
                </div>
                <div class="mx-4 mt-2" style="height: 500px; overflow-y: scroll;">
                    <p>
                        <b>Tock</b> (also known as Tuck in some English parts of Quebec and Atlantic Canada, and Pock in
                        some
                        parts of Alberta) is a board game, similar to Ludo, Aggravation or Sorry, in which players race
                        their four tokens (or marbles) around the game board from start to finish—the objective being to
                        be the first to take all of one's tokens "home". Like Sorry, it is played with playing cards
                        rather than dice. In Tock, players are attempting to get their marbles
                        out of their start spaces, around the board,
                        and into their home spaces using
                        cards from a standard poker deck.
                    </p>

                    <h4>The Board</h4>
                    <img src="/images/Tock_board.jpg" width="60%" height="60%">
                    <p>
                        The board consists of a series of spaces which are accessible by all players.
                        The important spots include spot 0, also known as the start portal, where a
                        player's marbles will enter the board after using a start card, spot 8, the
                        corner space, a safe spot at the middle ground between two players' homes,
                        and spot 17, the home portal, or the entry point into the next player's home
                        spaces.
                    </p>
                    <h4>Start Spaces</h4>
                    <!-- Picture Needed: Board with highlighted Start Spaces -->
                    <p>
                        The start spaces are where a player's marble
                        begins the game. To move a marble out of the player's start spaces, a
                        start card must be used, putting the marble at
                        that players 0 spot. This area is not accessible by any other player.
                    </p>

                    <h5>Spot 0</h5>
                    <p>
                        Spot 0 is the location at which a marble leaves the start spaces. If a marble
                        belonging to the associated player is on this spot, no other marble may pass
                        or tock it. If another player's marble is on this spot, it may be tocked when
                        a marble is started.
                    </p>

                    <h5>Spot 8</h5>
                    <p>
                        The spot halfway between two player's home spaces is a safe spot. Marbles here,
                        no matter who owns them, cannot be passed or tocked.
                    </p>

                    <h5>Spot 17</h5>
                    <p>
                        The spot just before a player's spot 0 is the entry to that players home spaces.
                        A player must move their marbles into the home spaces if passing this spot, unless
                        moving backwards, during which, the marble must stay outside of the home spaces.
                    </p>

                    <h4>Home Spaces</h4>
                    <!-- Picture Needed: Board with highlighted home Spaces -->
                    <p>
                        Each player has a set of 4 home spaces which they are trying to fill with their
                        marbles. To win the game, each of the four home spots must be filled with a player's
                        marble. A marble can never tock or be passed by a marble owned by the same player,
                        and you can not use a card which would move a marble further than the last open home
                        space.
                    </p>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">Ranking List</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#each rankings}}
                        <li class="list-group-item"> {{ this.username }}, wins: {{ this.wins }}, loses: {{
                            this.loses }}</li>
                        {{/each}}
                    </ul>
                </div>
                </p>
            </div>
        </div>
        <div class="col-4 me-auto">
            <div class="card ">
                <div class="card-body bg-light">
                    <h5 class="card-title">How To Play</h5>
                    <p class="card-text">Go through a short vedio and learn how to play!</p>
                </div>
                <div class="mx-auto mt-2">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/bQybLanJo94"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">Learn Rules</h5>
                </div>
                <div class="mx-4">
                    <h5>The Purpose</h5>
                    <p>Players will be using cards to start their marbles,
                        then propel those marbles around the board and into their home spaces.
                    </p>
                    <h5>Your Turn</h5>
                    <p>
                        Each turn, a player will select a card to use and then select a marble to use it on.
                    </p>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Click to Read More!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel">Tock Rules</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body mx-4">
                                <h5>The Purpose</h5>
                                <p>
                                    Players will be using cards to start their marbles,
                                    then propel those marbles around the board and into their home spaces.
                                </p>

                                <h5>Your Turn</h5>
                                <p>
                                    Each turn, a player will select a card to use and then select a marble to use it on.
                                </p>

                                <h5>Moving Your Marbles</h5>
                                <p>
                                    At the beginning of every turn, a player will select a card to use. Most cards allow
                                    a player to move a single marble they control a number of spaces equal to the value
                                    of a card. For example, a player could use an 8 of Clubs to move one of their
                                    marbles
                                    from spot 4 to spot 12. For the sake of matching cards, an Ace is one, Jack is 11,
                                    Queen 12, King 13, and Joker is equal to 15.
                                </p>
                                <p>
                                    There are several rules to where a marble can be propelled to, and if a marble
                                    cannot
                                    legally reach a space, then the selected card cannot be used on that marble in that
                                    way.
                                    A marble may never enter a start space or home space controlled by a different
                                    player.
                                    A marble cannot pass another marble controlled by the same player, but can usually
                                    pass
                                    another player's marbles. Two marbles can never share a space on the board, but a
                                    marble
                                    may land in the space occupied by a different player's marble. This is called
                                    "tocking".
                                </p>

                                <h5>Tocking</h5>
                                <p>
                                    When a player's marble lands in a space occupied by another player's marble, that
                                    marble
                                    "tocks" the other marble. A "tocked" marble is sent to an empty start space
                                    controlled
                                    by the same player that controls the tocked marble. That player must again use a
                                    start
                                    card to get that marble back on the board.
                                </p>

                                <h5>Special Spaces</h5>
                                <p>
                                    There are two special spaces which are unpassable.
                                </p>
                                <p>
                                    A player's start portal, the space which a started marble enters the board, normally
                                    acts
                                    as just another space. If the player who controls the start space has a marble
                                    there, then
                                    the space is unpassable and cannot be passed by any other marble. That said, another
                                    player
                                    may still tock the marble. For example, if Jessica has a marble on their start
                                    portal, and
                                    Will has a marble two spaces behind it, Will must consider which card to use. If his
                                    hand
                                    consists of an Ace, a two and a four, Will could use the Ace to move up behind the
                                    marble,
                                    but cannot use the four. Will may also use the two, but doing so makes him
                                    vulnerable - If
                                    Will tocks Jessica's marble, Jessica may use a start card on her turn, starting her
                                    marble
                                    and tocking Wills.
                                </p>
                                <p>
                                    The other special space is the corner spaces. When unoccupied, the space exists as
                                    any
                                    other on the board. When any player moves their marble to an 8-space, the corner
                                    space, the
                                    marble is unpassable and protected. A protected marble cannot be tocked. You cannot
                                    tock or
                                    pass a marble on an 8-space.
                                </p>

                                <h5>The Cards</h5>
                                <p>If a player has no card which provides
                                    a legal move, they must select a card to waste, discarding it for no effect on the
                                    game. If a
                                    player has a move available, they may not waste a card, and must use the available
                                    card, even if
                                    they would rather not.
                                </p>
                                <p>
                                    While most cards may be used to simply propel a marble an equal number of spaces,
                                    there are
                                    some cards which may be used to do things differently.
                                </p>

                                <table class="mx-auto">
                                    <tr style="border-bottom: 1px black solid;">
                                        <td class="m-1">Image</td>
                                        <td class="m-1" style="min-width:15%;">Name</td>
                                        <td class="m-1">Usage (Choose One Option)</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard ace m-1"></div>
                                        </td>
                                        <td class="m-1">Ace</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble one space</li>
                                                <li>Start a marble</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard two m-1"></div>
                                        </td>
                                        <td class="m-1">Two</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble two spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard three m-1"></div>
                                        </td>
                                        <td class="m-1">Three</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble three spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard four m-1"></div>
                                        </td>
                                        <td class="m-1">Four</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble four spaces <b>backwards</b></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard five m-1"></div>
                                        </td>
                                        <td class="m-1">Five</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble five spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard six m-1"></div>
                                        </td>
                                        <td class="m-1">Six</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble six spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard seven m-1"></div>
                                        </td>
                                        <td class="m-1">Seven</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel any number of your marbles a total of 7 spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard eight m-1"></div>
                                        </td>
                                        <td class="m-1">Eight</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble eight spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard nine m-1"></div>
                                        </td>
                                        <td class="m-1">Nine</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble nine spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard ten m-1"></div>
                                        </td>
                                        <td class="m-1">Ten</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble ten spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard jack m-1"></div>
                                        </td>
                                        <td class="m-1">Jack</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble eleven spaces</li>
                                                <li>Switch any of your marbles not in a home or start space with any
                                                    marble of a different color not in a home or start space</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard queen m-1"></div>
                                        </td>
                                        <td class="m-1">Queen</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble twelve spaces</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard king m-1"></div>
                                        </td>
                                        <td class="m-1">King</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble thirteen spaces</li>
                                                <li>Start a marble</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="tockCard joker m-1"></div>
                                        </td>
                                        <td class="m-1">Joker</td>
                                        <td class="m-1">
                                            <ul>
                                                <li>Propel one marble 15 spaces, draw a card, then take another turn
                                                </li>
                                                <li>Start a marble, draw a card, then take another turn</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>

                                <h5>Going Home</h5>
                                <p>
                                    While the home spaces have no <i>special</i> rules, the rules previously defined
                                    become more
                                    important. A marble can never pass another marble of the same color. A player must
                                    orchestrate
                                    their moves to load their marbles into home spaces and occupy them space by space.
                                    The first
                                    marble should be pushed to the last home space, the second marble to the second to
                                    last home
                                    space, the third marble to the third home space, and the last marble to the final
                                    home space.
                                    Please note that
                                </p>

                                <h5>Glossary</h5>

                                <h5 id="glossary_home_space">Home</h5>
                                <p>
                                    Each player has a set of four home spaces. These spaces are the four spaces in outer
                                    corners
                                    of the board, and must be filled for a player to win the game. No marble in a home
                                    space may
                                    be switched with another marble, but a four may be played on the outer-most marble,
                                    pulling
                                    it out of the home spaces and back onto the board. Note that no marble may pass a
                                    marble of
                                    the same card.
                                </p>

                                <h5 id="glossary_marble">Marble</h5>
                                <p>
                                    Each player controls four marbles, trying to get them out of their
                                    <a href="#glossary_start_space">Start Spaces</a>, around the board,
                                    and into their <a href="#glossary_home_space">Home Spaces</a>.
                                </p>
                                <p>
                                    Player one's marbles are light green and associated with spades.
                                    Player two's marbles are dark blue and associated with hearts.
                                    Player three's marbles are yellow and associated with diamonds.
                                    Player four's marbles are purple and associated with clubs.
                                    You may turn on or off the symbols on the marbles by selecting
                                    the colorblind checkbox in the options menu.
                                </p>

                                <h5 id="glossary_space">Space</h5>
                                <p>
                                    A space is any location in the game where a marble may reside.
                                    There are three types of spaces: Start spaces, Home spaces, and
                                    Board spaces. The start and home spaces may only be occupied by
                                    marbles of the player who controls the start spaces.
                                </p>

                                <h5 id="glossary_start_space">Start Space</h5>
                                <p>
                                    A start space is a space in which a marble starts the game. To
                                    leave the start spaces, the player must use a card to start a
                                    marble, moving it to the start portal, or the location on the
                                    board at which a player's marbles enter the board spaces. When
                                    a marble is tocked, it is sent to its owner's start spaces.
                                </p>

                                <h5 id="glossary_start_card">Start Card</h5>
                                <p>
                                    A start card is any card which may be used to start a marble,
                                    moving the marble from a start space to the player's start portal.
                                    The start cards are an Ace, a King, or a Joker.
                                </p>

                                <h5 id="glossary_tock">Tock</h5>
                                <p>
                                    As a noun, Tock refers to the game. In other uses,
                                </p>

                                <h5 id="glossary_tocking">Tocking</h5>
                                <p>
                                    To "tock" a marble refers to moving a marble into a space occupied
                                    by a marble of a different color, thereby sending the other marble
                                    back to its corresponding start spaces.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

</main>



<footer class="text-center text-white bg-light mt-4">
    <div class="container pt-3">
        <section>
            <a href="https://www.facebook.com/" class="mx-2"><img src="images/facebook.png"></a>
            <a href="https://www.instagram.com/" class="mx-2"><img src="images/instagram.png"></a>
            <a href="https://twitter.com/" class="mx-2"><img src="images/twitter.png"></a>
            <a href="https://www.tiktok.com/" class="mx-2"><img src="images/tiktok.png"></a>
            <a href="https://www.reddit.com/" class="mx-2"><img src="images/reddit.png"></a>
            <a href="https://github.com/" class="mx-2"><img src="images/github.png"></a>
        </section>
    </div>

    <div class="text-center bg-light p-3">
        <span class="text-dark ">
            <a href="/termsofuse">Terms of Use | </a><a href="/privacy">Privacy Notice | </a><a href="/helpPage">Contact
                Us</a><br>
        </span>
        <span class="text-dark">Copyright © 2022 csc667-teama. All rights reserved.</span>
    </div>
</footer>