<!-- 
    Title: Landing Page
    URI: /
    View: index.handlebars
-->

{{> navbar}}


<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-4">
            <h1 class="display-4 fw-normal">Tock</h1>
            <p class="lead fw-normal">Display Tock Images Here.</p>
            {{!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> --}}
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="row">
        <div class="col-6 ms-auto">
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">Tock Introduction</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="mx-auto">
                    <p>Introduce Here</p>
                    <p>Created by:....</p>
                    <p>Since: 1680</p>
                </div>
            </div><br>
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Ranking List</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="mx-auto">
                    <p>List Rankings Here</p>
                    <p>Ranking #1 .....</p>
                    <p>Ranking #2 .....</p>
                </div>
            </div>
        </div>
        <div class="col-4 me-auto">
            <div class="card ">
                <div class="card-body bg-light">
                    <h5 class="card-title">How To Play</h5>
                    <p class="card-text">Go through a short vedio and learn how to play!</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="mx-auto">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/bQybLanJo94"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title">Learn Rules</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="mx-auto">
                    <p>List Rules Here</p>
                    <p>Rule #1 .....</p>
                    <p>Rule #2 .....</p>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Click to Read More!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Tock Rules</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <p>Summary
                                    Tock is a card-and-board game for 2 to 6 players. With 4 or 6 players, it is
                                    possible to
                                    create two or three teams of 2 players, sitting opposite of each other.

                                    The game concept is the same as Ludo, Sorry! or Mensch ärgere Dich nicht: Each
                                    player owns 4
                                    pawns, has to bring them out of their start area into the game circle, and then race
                                    them
                                    into their home zone.

                                    The difference is that the players don't roll a die. Instead, standard playing cards
                                    (like
                                    those used in Bridge or Rummy) are dealt to the players, and they can choose to play
                                    one of
                                    their cards to move a pawn.

                                    Object of the game
                                    In single player games (no teams), the winner is the player who is first to get all
                                    4 pawns
                                    into their home.

                                    In team games, the winner is the team that is first to get the pawns of both players
                                    into
                                    their corresponding homes. After the first player of a team has brought all of their
                                    pawns
                                    into their home, both players continue to play with the remaining color.

                                    Setup of your game on Board Game Arena
                                    Game Type
                                    You can choose between three game types.

                                    Free-for-all: This is the single player game, everyone fights for themselves, no
                                    mercy, no
                                    friends, just run and eat every pawn that has the wrong color.

                                    2 vs 2: When you get 4 players at your table, there will be two teams with two
                                    players.
                                    Assuming that players A1 and A2 belong to team A, and B1,B2 to team B, then the turn
                                    order
                                    will be A1, B1, A2, B2. With any other number of players, you will play
                                    Free-for-all.

                                    2 vs 2 vs 2: When you get 6 players at your table, there will be three teams with
                                    two
                                    players each. The turn order will be A1, B1, C1, A2, B2, C2.

                                    Game Variants
                                    Because it can be frustrating when the game starts and you don't have any card to
                                    let you
                                    start, there is the "start configuration" variant that allow you to place your first
                                    pawn on
                                    your start space before the game starts (Fast Start).</p>
                                ....
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

</main>



<footer class="text-center text-white bg-light mt-4">
    <div class="container pt-3">
        <section>
            <a href="https://www.facebook.com/" class="mx-2"><img src="images/facebook.png"></a>
            <a href="https://www.instagram.com/" class="mx-2"><img src="images/instagram.png"></a>
            <a href="https://twitter.com/" class="mx-2"><img src="images/twitter.png"></a>
            <a href="https://www.tiktok.com/" class="mx-2"><img src="images/tiktok.png"></a>
            <a href="https://www.reddit.com/" class="mx-2"><img src="images/reddit.png"></a>
            <a href="https://github.com/" class="mx-2"><img src="images/github.png"></a>
        </section>
    </div>

    <div class="text-center bg-light p-3">
        <span class="text-dark ">
            <a href="/termsofuse">Terms of Use | </a><a href="/privacy">Privacy Notice | </a><a href="/helpPage">Contact
                Us</a><br>
        </span>
        <span class="text-dark">Copyright © 2022 csc667-teama. All rights reserved.</span>
    </div>
</footer>