<!-- 
    Title: Logout Landing
    URI: /logout
    View: logout.handlebars
-->
<style>
.logoutMSG{
text-align:center;

}

</style>

{{> navbar}}

<div class="container-fluid">
    {{> messages}}
    <div class="offset-md-4 col-md-4" id="logoutBox">
        <h1 class="logoutMSG">Logging out...</h1>
        <h2 class="logoutMSG">If you aren't redirected within a few secondss click here...</h2>
    </div>
</div>


