<!-- 
    Title: Registration Landing
    URI: /register/ok
    View: registered.handlebars
-->

<style>
    .loginBtn {
        margin-right: 1em;
        margin-left: auto;
        padding: 0.5em;
    }
</style>

<h1 class="mx-auto my-2">You've been registered!</h1>
<p>Your account has been created. You can now login and start playing Tock! Click below to begin the login process.</p>
<a class="btn btn-primary loginBtn" href="/login">Go to Login</a>