<!-- 
    Title: Registration Landing
    URI: /register/ok
    View: registered.handlebars
-->

{{> navbar}}


<div class="container-fluid mt-1">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h2>Success</h2>
            <hr>
            <p>Your account has been created.</p> 
            <p>You can now login and start playing Tock!</p>
            <a class="btn btn-success w-100 mb-4" href="/users/login">Go to Login</a>

        </div>
    </div>
</div>