<form action="" method="post" id="resetForm" class="d-flex flex-column justify-space-between">

    <h1 class="mx-auto my-2">Trouble Logging In?</h1>

    <div class="formItem">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" placeholder="Email" required />
    </div>
    <div class="formItem">
        <button class="tockBtn formSubmit">Send Login Link</button>
    </div>
</form>
<button class="tockBtn formSubmit"><a href="/users/login">Back To Login</a></button>