<!-- 
    Title: Game Summary
    URI: /game/summary/:id
    View: summary.handlebars
-->

<body>
    <h1>Game Summary</h1>
    <h2>/game/summary/:id</h2>
    <h2>summary.handlebars</h2>
    <h2>Chosen ID: {{ gameId }}</h2>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Congratulations!<BR>You Won!</h5>
            <h5 class="card-title">You Lost</h5>
            <p class="card-text">xxx</p>
            <a href="#" class="btn btn-primary">Play again</a>
        </div>
    </div>
</body>
