<!-- 
    Title: Game Summary
    URI: /game/summary/:id
    View: summary.handlebars
-->

<h1>Game Summary</h1>
<h2>/game/summary/:id</h2>
<h2>summary.handlebars</h2>
<h2>Chosen ID: {{ gameId }}</h2>